extends layout

block content
  .container
    h1= title
    div#userList

  script(type='text/template', id='tmpl-user-list')
    .btn-group(role='group')
      button.btn.btn-info#filter(data-filter='/20/29/') 20 ~ 29
      button.btn.btn-info#filter(data-filter='/30/39/') 30 ~ 39
      button.btn.btn-info#filter(data-filter='/40/49/') 40 ~ 49
      button.btn.btn-info#filter(data-filter='/50/59/') 50 ~ 59
    h3 User List
    ul
      <% _.each(users, function(user) { %>
      li <%= user.Name %> (Age: <%= user.Age %> )
      <% }); %>

  script(src='vendor/jquery/dist/jquery.min.js', type='text/javascript')
  script(src='vendor/underscore/underscore-min.js', type='text/javascript')
  script(src='vendor/backbone/backbone.js', type='text/javascript')
  script(src='javascripts/index-age.js', type='text/javascript')