extends layout
block style
  link(rel='stylesheet', href='stylesheets/style.css')

block content
  .container
    .row
      .col-sm-6
        h1 User List
        hr
        #userList
      .col-sm-6
        h1 User Information
        hr
        #userInfo

  script(type='text/template', id='tmpl-user-list')
    .btn-group(role='group')
      button.btn.btn-info#filter(data-filter = 'age-10') 10 ~ 19
      button.btn.btn-info#filter(data-filter = 'age-20') 20 ~ 29
      button.btn.btn-info#filter(data-filter = 'age-30') 30 ~ 39
      button.btn.btn-info#filter(data-filter = 'age-40') 40 ~ 49
      button.btn.btn-info#filter(data-filter = 'age-50') 50 ~ 59
      button.btn.btn-info#filter(data-filter = 'age-60') 60 ~ 69
    h3 User List
    ul
      <% _.each(users, function(user) { %>
      li(data-tag = 'user', data-age != '<%= user.Age %>')
        a(href='#', data-user-id != '<%= user._id %>') <%= user.Name %> (Age: <%= user.Age %> )
      <% }); %>

  script(type='text/template', id='tmpl-user-info')
    .non-editable
      h3 <%= user.Name %>
      p Phone : <%= user.Phone %>
      p Email : <%= user.Email %>
      p Address : <%= user.Address %>
      p Age : <%= user.Age %>
      p _id : <%= user._id %>
      button.btn.btn-primary.pull-left.btn-edit Edit

    .editable.hide
      .row
        form
          div.alerts
          div.control-group(class!='<%= errfor.name ? "error" : "" %>')
            label.control-label Name:
            div.controls
              input.form-control(type='text', name='name', value!='<%= user.Name %>')
          div.control-group(class!='<%= errfor.email ? "error" : "" %>')
            label.control-label(style='margin-top: 20px;') Email:
            div.controls
              input.form-control(type='text', name='email', value!='<%= user.Email %>')
          div.control-group(class!='<%= errfor.address ? "error" : "" %>')
            label.control-label(style='margin-top: 20px;') Address:
            div.controls
              input.form-control(type='text', name='address', value!='<%= user.Address %>')
          input(type='hidden', name='id', value!='<%= user._id %>')
          br
          div
            button.btn.btn-large.btn-info.btn-save(type='button') Save

  script(src='vendor/jquery/dist/jquery.min.js', type='text/javascript')
  script(src='vendor/underscore/underscore-min.js', type='text/javascript')
  script(src='vendor/backbone/backbone.js', type='text/javascript')
  script(src='javascripts/index-age.js', type='text/javascript')