extends layout
block style
  link(rel='stylesheet', href='stylesheets/style.css')

block content
  .container
    h1= title
    div#userList

  script(type='text/template', id='tmpl-user-list')
    .btn-group(role='group')
      button.btn.btn-info#filter(data-filter = 'age-10') 10 ~ 19
      button.btn.btn-info#filter(data-filter = 'age-20') 20 ~ 29
      button.btn.btn-info#filter(data-filter = 'age-30') 30 ~ 39
      button.btn.btn-info#filter(data-filter = 'age-40') 40 ~ 49
      button.btn.btn-info#filter(data-filter = 'age-50') 50 ~ 59
      button.btn.btn-info#filter(data-filter = 'age-60') 60 ~ 69
    h3 User List
    ul
      <% _.each(users, function(user) { %>
      li(data-tag = 'user', data-age != '<%= user.Age %>') <%= user.Name %> (Age: <%= user.Age %> )
      <% }); %>

  script(src='vendor/jquery/dist/jquery.min.js', type='text/javascript')
  script(src='vendor/underscore/underscore-min.js', type='text/javascript')
  script(src='vendor/backbone/backbone.js', type='text/javascript')
  script(src='javascripts/index-age.js', type='text/javascript')